.container {
    width: 20%;
    padding: 0.2em;
}

.container.list-h {
    flex: 1 1 100%;
}
.container.list-h .thumimg {
    width: 30%;
}
.container.list-v {
    flex: 1 1 20%;
}

.video {
    width: 100%;
    height: 100%;
    border: 1px solid #c0c0c0;
    cursor: pointer;
    transition: all .2s ease-in;
    display: flex;
    flex-direction: row;
}

.video:hover {
    transform: scale(1.01);
    box-shadow: 3px 3px 5px 0px rgba(191, 191, 191, 0.53);
}

.thumimg {
    width: 100%;
}

.titledata {
    text-align: left;
    padding: 16px;
}

.title {
    font-size: 14px;
}

.channelTitle {
    font-size: 11px;
}